[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "lib/SFML"]
	path = lib/SFML
	url = https://github.com/SFML/SFML
[submodule "lib/libnoise"]
	path = lib/libnoise
	url = https://github.com/qknight/libnoise
