[submodule "lib/spotify-json"]
	path = lib/spotify-json
	url = https://github.com/Wangscape/spotify-json.git
	ignore = dirty
[submodule "lib/cpp_utils"]
	path = lib/cpp_utils
	url = https://github.com/wichtounet/cpp_utils.git
	ignore = dirty
[submodule "lib/libnoise"]
	path = lib/libnoise
	url = https://github.com/qknight/libnoise.git
	ignore = dirty
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
