<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="armadillo-code" version="7.800.2" targetFramework="native" />
  <package id="boost" version="1.64.0.0" targetFramework="native" />
  <package id="boost_chrono-vc140" version="1.64.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc140" version="1.64.0.0" targetFramework="native" />
  <package id="boost_program_options-vc140" version="1.64.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.64.0.0" targetFramework="native" />
  <package id="OpenBLAS" version="0.2.14.1" targetFramework="native" />
  <package id="sfml-graphics" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-graphics.redist" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-system" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-system.redist" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-window" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-window.redist" version="2.4.0.0" targetFramework="native" />
</packages>