<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.62.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc140" version="1.62.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.62.0.0" targetFramework="native" />
  <package id="Eigen" version="3.2.9" targetFramework="native" />
  <package id="libpng" version="1.6.26.1" targetFramework="native" />
  <package id="libpng.redist" version="1.6.26.1" targetFramework="native" />
  <package id="sfml-graphics" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-graphics.redist" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-system" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-system.redist" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-window" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-window.redist" version="2.4.0.0" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>